html {
  min-width: 90%;
  margin-top: 4%;
  margin-bottom: 1%;
  margin-left: 5%;
  margin-right: 5%;
     background: rgb(21,21,228);
background: radial-gradient(circle, rgba(21,21,228,1) 37%, rgba(18,18,232,1) 70%, rgba(46,12,0,1) 70%, rgba(46,30,30,1) 72%, rgba(120,120,120,1) 73%);   
  
}
.dead {
  color: #0a7aeb;
}
.calorieTracker {
  display: grid;
  grid-template-areas:
    "balanceNum calorieInfo"
    "calorieForm history";

  justify-items: center;
  padding-top: 30px;
  grid-row-gap: 40px;
}
.homepage {
  min-height: 90%
}
.delete-btn {
  cursor: pointer;
  background-color: #e74c3c;
  border: 0;
  color: #fff;
  font-size: 20px;
  line-height: 20px;
  padding: 2px 5px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-100%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}


.delete-btn:focus {
  outline: 0;
}
.list {
  list-style-type: none;
  padding: 0;
  margin-bottom: 40px;
  display:flex;
  justify-content: center;
  flex-direction: column;
  
}
.list li.plus {
  border-right: 5px solid #2ecc71;
}

.list li.minus {
  border-right: 5px solid #c0392b;
}

.list li:hover .delete-btn {
  opacity: 1;
}
.list li {
  background-color: #fff;
  box-shadow: var(--box-shadow);
  color: #333;
  display: flex;
  justify-content: center;
  position: relative;
  padding: 10px;
  margin: 1px 0;
}

.balance {
  grid-area: balanceNum;
  display: flex;
  flex-direction: column;
  background-color: #ee822f;
  width: 70%;
  border-radius: 25px;
  padding-bottom: 30px;
  padding-top: 10px;
}
.updateBalance {
  width: 25%;
  margin: auto;
}
.balanceNum {
  font-size: 70px;
  text-align: center;
}
#addTransaction {
  text-align: center;
}
li {
  list-style-type: none;
}
.calorieForm {
  grid-area: calorieForm;
  text-align: start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #dedee3;
  width: 70%;
  border-radius: 25px;
  padding-bottom: 30px;
  padding-top: 30px;
}
.droplist {
  padding: 10px;
}
.calorieAmount {
  padding: 10px;
}
.addAmount {
  padding: 10px;
}
.calorieInfo {
  grid-area: calorieInfo;
  background-color: #dedee3;
  width: 90%;
  border-radius: 25px;
  text-align: center;
  display: flex;
  justify-content: center;
  padding-top: 0.8rem;
  height: 150px;
}
.caloriesIn {
  font-size: 10px;
}
.caloriesOut {
  font-size: 10px;
}
#deadp {
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px;
}
.history {
  grid-area: history;
  background-color: #dedee3;
  width: 70%;
  border-radius: 25px;
  text-align: center;
  padding-top: 15px;
  margin-top: -160px;
}

.navBar {
  width: 100%;
  background-color: #0a7aeb;
}

/*@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/
