
html body {
  background-color: #f4f4f6;


}
.dead {
  color: #1485f5;
}

.calorieTracker {
  min-height: 100%;
  margin-top: 10%;
  display: grid;
  grid-template-areas:
    "balanceNum history"
    "calorieInfo history"
    "calorieForm history";

  justify-items: center;
  padding-top: 50px;
  
  grid-row-gap: 40px;
  padding-bottom: 50px;
  max-width: 80%;
  margin: auto;
  padding-right: 70px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  background-color: white;
}
@media (max-width: 920px) {
  .calorieTracker {
    display: grid;
    grid-template-areas:
      "balanceNum"
      "calorieInfo"
      "history"
      "calorieForm";
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    padding-top: 50px;
    grid-row-gap: 40px;
    padding-bottom: 50px;
  }
}

.homepage {
  margin-top: 3%;
  height: 100%;
  font-family:"Trebuchet MS", Helvetica, sans-serif
}

.delete-btn {
  cursor: pointer;
  background-color: #e74c3c;
  border: 0;
  color: #fff;
  font-size: 20px;
  line-height: 20px;
  padding: 2px 5px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-100%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.delete-btn:focus {
  outline: 0;
}
.list {
  list-style-type: none;
  padding: 0;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.list li.plus {
  border-right: 5px solid #2ecc71;
}

.list li.minus {
  border-right: 5px solid #c0392b;
}

.list li:hover .delete-btn {
  opacity: 1;
}
.list li {
  background-color: #fff;
  box-shadow: var(--box-shadow);
  color: #333;
  display: flex;
  justify-content: center;
  position: relative;
  padding: 10px;
  margin: 1px 0;
}

.balance {
  grid-area: balanceNum;
  display: flex;
  flex-direction: column;
  background-color: #1485f5;
  width: 70%;
  border-top-left-radius: 50px;
  padding-bottom: 80px;
  padding-top: 10px;
  margin-bottom: -50px;
}
.updateBalance {
  
  margin: auto;
}
.balanceNum {
  font-size: 40px;
  text-align: center;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}
#addTransaction {
  text-align: center;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}
li {
  list-style-type: none;
}
.calorieForm {
  grid-area: calorieForm;
  text-align: start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f6;
  border-bottom-right-radius: 50px;
  border-top-left-radius: 50px;
  width: 70%;

  padding-bottom: 30px;
  padding-top: 30px;
}
.droplist {
  padding: 10px;
}
.calorieAmount {
  padding: 10px;
}
.addAmount {
  padding: 10px;
  width: 300px;
}
input {
  width: 100%;
}
.calorieInfo {
  grid-area: calorieInfo;
  background-color: #f08d42;
  width: 70%;
  text-align: center;
  display: inline-flex;
  justify-content: space-evenly;
  padding-top: 30px;
  height: 100px;
  margin-top: -40px;
  border-bottom-right-radius: 50px;
}
.caloriesIn {
  font-size: 10px;
}
.caloriesOut {
  font-size: 10px;
}

.history {
  grid-area: history;
  background-color: #f4f4f6;
  width: 90%;
  text-align: center;
  padding-top: 15px;
  
  border-bottom-right-radius: 50px;
  border-top-left-radius: 50px;
}

.navBar {
  width: 100%;
  background-color: #f4f4f6;
  display: flex;
  justify-content: space-around;

  font-family: "Trebuchet MS", Helvetica, sans-serif;
  height: 40px;
  margin: 0;
}

.addBtn {
  margin-left: 10px;
  margin-top: 10px;
}
.homepage {
  height: 100%;
  font-family: "Trebuchet MS", Helvetica, sans-serif;

  width: 80%;
  margin: auto;
}

#deadp {
  border: 1px solid;
  padding: 10px;
  width: 30%;
  height: 70px;
  font-size: 15px;

}
 #homeTitle{
   font-size: 100px;
   margin-left: 10%;
 }
 #homeBox{
   margin-left: 60%;
   position: absolute;
   margin-top: 115px;
 }
 #websiteInfo{
   display: flex;
   flex-direction: column;
   margin-left: 10%;
   width: 80%;
   margin-right: 10%;
 }
 #homeBtns{
   margin-left: 10%;
 }
#homeBio{
  margin-left: 10%;
  margin-right: 10%;
}





/*@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/
