html {
  background: rgb(21, 21, 228);
  background: radial-gradient(
    circle,
    rgba(21, 21, 228, 1) 37%,
    rgba(18, 18, 232, 1) 70%,
    rgba(46, 12, 0, 1) 70%,
    rgba(46, 30, 30, 1) 72%,
    rgba(120, 120, 120, 1) 73%
  );
 
  
}
.dead {
  color: #0a7aeb;
}
.calorieTracker {
  display: grid;
  grid-template-areas:
    "balanceNum history"
    "calorieInfo history"
    "calorieForm history";

  justify-items: center;
  padding-top: 20px;
  grid-row-gap: 40px;
  padding-bottom: 20px;
  max-width: 80%;
  margin: auto;
  font-family:"Trebuchet MS", Helvetica, sans-serif;
  
}
@media (max-width: 920px) {
  .calorieTracker {
    display: grid;
    grid-template-areas:
      "balanceNum"
      "calorieInfo"
      "calorieForm"
      "history";
      font-family:"Trebuchet MS", Helvetica, sans-serif
  }
}
.homepage {
  min-height: 100vh;
  font-family:"Trebuchet MS", Helvetica, sans-serif
}
.delete-btn {
  cursor: pointer;
  background-color: #e74c3c;
  border: 0;
  color: #fff;
  font-size: 20px;
  line-height: 20px;
  padding: 2px 5px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-100%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.delete-btn:focus {
  outline: 0;
}
.list {
  list-style-type: none;
  padding: 0;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.list li.plus {
  border-right: 5px solid #2ecc71;
}

.list li.minus {
  border-right: 5px solid #c0392b;
}

.list li:hover .delete-btn {
  opacity: 1;
}
.list li {
  background-color: #fff;
  box-shadow: var(--box-shadow);
  color: #333;
  display: flex;
  justify-content: center;
  position: relative;
  padding: 10px;
  margin: 1px 0;
}

.balance {
  grid-area: balanceNum;
  display: flex;
  flex-direction: column;
  background-color: #1485F5;
  width: 70%;
  border-top-left-radius: 50px;
  padding-bottom: 80px;
  padding-top: 10px;
  margin-bottom: -50px;
}
.updateBalance {
  width: 25%;
  margin: auto;
}
.balanceNum {
  font-size: 70px;
  text-align: center;
  font-family:"Trebuchet MS", Helvetica, sans-serif;

}
#addTransaction {
  text-align: center;
  font-family:"Trebuchet MS", Helvetica, sans-serif;

}
li {
  list-style-type: none;
}
.calorieForm {
  grid-area: calorieForm;
  text-align: start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f6;
  border-bottom-right-radius: 50px;
  border-top-left-radius: 50px;
  width: 70%;

  padding-bottom: 30px;
  padding-top: 30px;
}
.droplist {
  padding: 10px;
}
.calorieAmount {
  padding: 10px;
}
.addAmount {
  padding: 10px; 
  width: 300px;
}
input{
  width: 100%;
}
.calorieInfo {
  grid-area: calorieInfo;
  background-color: #F08D42;
  width: 70%;
  text-align: center;
  display: inline-flex;
  justify-content: space-evenly;
  padding-top: 30px;
  height: 100px;
  margin-top: -40px;
  border-bottom-right-radius: 50px;
}
.caloriesIn {
  font-size: 10px;
}
.caloriesOut {
  font-size: 10px;
}

#deadp {
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px;
}
.history {
  grid-area: history;
  background-color: #f4f4f6;
  width: 90%;
  text-align: center;
  padding-top: 15px;
  border-bottom-left-radius: 50px;
  border-top-right-radius: 50px;
}

.navBar {
  width: 100%;
  background-color: #f4f4f6;
  display: flex;
  justify-content: space-around;
  
  font-family:"Trebuchet MS", Helvetica, sans-serif;
  height: 40px;
  margin: 0;
}

.addBtn{
  margin-left: 10px;
  margin-top: 10px ;
}

/*@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/
